'*.mp4' filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
dr[[:space:]]jekyll[[:space:]]and[[:space:]]mr[[:space:]]hyde[[:space:]]intro[[:space:]]cutscene.mp4 filter=lfs diff=lfs merge=lfs -text
